.description {}

.description__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.description__cell {}

.description__cell_with_image {
    background: no-repeat center / cover;
}

.description__cell_with_text {
    text-align: center;
    background-color: #1596C1;
    padding: 60px 110px;
}

.description__cell-title {
    display: inline-block;
    margin: 0;
}

.description__cell-text {
    margin: 50px 0 0;
}

/* ------------------------------------------------------------------------------------------------- */
@media (max-width: 1200px) {
    .description {
        margin-bottom: 95px;
    }

    .description__cell_with_text {
        padding: 35px 40px 95px;
    }
}

/* ------------------------------------------------------------------------------------------------- */
@media (max-width: 640px) {
    .description {
        margin-bottom: 70px;
    }
    .description__container {
        grid-template-rows: repeat(auto, 1fr);
        grid-template-columns: 1fr;
    }
    .description__cell {
        min-height: 500px;
    }

    .description__cell:nth-child(1) {
        grid-column: 1;
        grid-row: 2;

    }

    .description__cell:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
    }

    .description__cell:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }


    .description__cell:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }

    .description__cell_with_text {
        padding: 30px 25px;
    }

    .description__cell-text {
        margin: 70px 0 0;
    }
}