.footer {
    background-color: #1596C1;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__box {}

.footer__logo {
    flex: 0 0 auto;
    margin-right: 8rem;
}

@media (any-hover: hover) {
    .footer__logo:hover svg path {
        fill: #000;
        transition: 0.3s;
    }
}

.footer__logo-icon {
    height: 80px;
}

.footer__nav {}

.footer__nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 115px;
    margin-right: 30px;
}

.footer__nav-item {}

.footer__nav-link {}

/* ------------------------------------------------------------------------------------------------- */
@media (max-width: 1200px) {
    .footer__container {
        padding-top: 35px;
        padding-bottom: 30px;
    }

    .footer__box {}

    .footer__logo {
        margin-right: 1rem;
    }

    .footer__logo-icon {
        height: 50px;
    }

    .footer__nav-items {
        gap: 40px;
        margin-right: 10px;
    }

}

/* ------------------------------------------------------------------------------------------------- */
@media (max-width: 640px) {
    .footer__container {
        padding-top: 25px;
        padding-bottom: 20px;
        align-items: stretch;
    }

    .footer__box {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__nav-items {
        flex-direction: column;
    }

    .footer__logo {
        margin-right: 0;
    }

    .footer__logo-icon {
        height: 50px;
    }

    .footer__nav-items {
        gap: 35px;
        margin-right: 0;
    }

    .footer__number {
        font-size: 18px;
    }
}