.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
}

.header__container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 0 0 auto;
}

@media (any-hover: hover) {
    .header__logo:hover svg path {
        fill: #000;
        transition: 0.3s;
    }
}

.header__burger {
    flex: 0 0 auto;
    position: absolute;
    top: 20px;
    left: calc(50% - 64px/2);
    z-index: 1020;
    width: fit-content;
}

@media (any-hover: hover) {
    .header__burger:hover svg path {
        fill: #000;
        transition: 0.3s;
    }
}

.header__burger_active {
    transform: rotate(180deg);
    margin-bottom: 60px;
    top: 40px;
}


.header__burger_active svg path {
    fill: #000;
    transition: 0.3s;
}

@media (any-hover: hover) {
    .header__burger_active:hover svg path {
        fill: #1596C1;
        transition: 0.3s;
    }
}

.header__basket {
    flex: 0 0 auto;
}

@media (any-hover: hover) {
    .header__basket:hover svg path {
        fill: #000;
        transition: 0.3s;
    }
}


.header__burger-menu {
    padding-top: 0;
}

.header__burger-menu-content {
    max-width: 420px !important;
    /* padding: 40px 120px 120px; */
    padding: 120px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.header__burger-menu-items {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 55px;
}

.header__burger-menu-item {
    /* line-height: 1; */
}

.header__burger-menu-link {}