.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
}

.header__container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 0 0 auto;
}

@media (any-hover: hover) {
    .header__logo:hover svg path {
        fill: #000;
        transition: 0.3s;
    }
}

.header__burger {
    flex: 0 0 auto;
    position: absolute;
    top: 20px;
    left: calc(50% - 64px/2);
    z-index: 1020;
    width: fit-content;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__burger svg path {
    transition: 0.3s;
}

@media (any-hover: hover) {
    .header__burger:hover svg path {
        fill: #000;
    }
}

.header__burger.menu-open {
    transform: rotate(180deg);
    margin-bottom: 60px;
}


.header__burger.menu-open svg path {
    fill: #000;
}

@media (any-hover: hover) {
    .header__burger.menu-open:hover svg path {
        fill: #1596C1;
    }
}

.header__basket {
    flex: 0 0 auto;
    margin-right: 5px;
}

@media (any-hover: hover) {
    .header__basket:hover svg path {
        fill: #000;
        transition: 0.3s;
    }
}

.header__count-book {
    padding: 0 15px 8px;
    background-color: red;
    border-radius: 50%;
}

.header__burger-menu {
    position: fixed;
    top: 0;
    right: calc(50% - 420px/2);
    width: 420px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-100%);
    transition: transform 0.7s ease;
    z-index: 100;
}

.menu-open.header__burger-menu {
    transform: translateX(0);
}

.header__burger-menu-content {
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__burger-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.header__burger-menu-item {}

.header__burger-menu-link {}