.slider {}

.slider__container {
}

.slider__title {
    font-size: 5.33rem;
    margin: 0 auto 70px;
}

.slider__wrapper {
    display: flex;
    overflow-x: hidden;
    /* Убираем рамки первого слайда */
    margin-left: -10px;
}

.slider__slide {
    flex: 0 0 32%;
    margin: 0 10px;
    border: 3px solid #000;
    padding: 2rem;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.slider__slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    width: 100%;
}

.slider__slide-image {
    width: 200px;
    aspect-ratio: 200/301;
    object-fit: cover;
}

.slider__slide-title {
    font-family: 'Raleway';
    margin: 0;
    text-transform: none;
}

.slider__slide-genre {
    margin: 0;
}

.slider__slide-box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slider__slide-price {
    flex: 1 1 49%;
    text-align: center;

}

.slider__slide-btn {
    flex: 1 1 49%;
    padding: 10px 15px;
}

.slider__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 55px;
}

.slider__nav-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 50px;
}

.slider__nav-btn_prev {
    transform: rotate(180deg);
}

.slider__nav-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.slider__dots {
    display: flex;
    gap: 55px;
}

.slider__dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

.slider__dot.active {
    background-color: #000;
}

/* ------------------------------------------------------------------------------------------------- */
@media (max-width: 1200px) {
    .slider {
        margin-bottom: 160px;
    }

    .slider__title {
        margin: 0 auto 35px;
    }

    .slider__wrapper {
        justify-self: center;
        max-width: calc(340px + 10px);
    }

    .slider__slide {
        flex: 0 0 calc(100% - 10px);
        padding: 20px;
        gap: 30px;
    }

    .slider__slide-container {
        gap: 25px;
    }

    .slider__slide-container:last-of-type {
        gap: 55px;
    }

    .slider__slide-btn {
        padding: 5px 15px;
    }

    .slider__navigation {
        position: absolute;
        top: calc(50% + 15px/2);
        left: 135px;
        width: calc(100% - 2* 135px);
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .slider__nav-btn {
        height: fit-content;
        transform: scale(2);
    }

    .slider__nav-btn_prev {
        transform: scale(2) rotate(180deg);
    }

    .slider__dots {
        display: none;
    }
}

/* ------------------------------------------------------------------------------------------------- */
@media (max-width: 640px) {
    .slider {
        margin-bottom: 75px;
    }

    .slider__title {
        margin: 0 auto 45px;
        font-size: 3.75rem;
    }

    .slider__wrapper {
        max-width: calc(100% + 10px);
        margin-left: -10px;
    }

    .slider__slide {
        padding: 25px;
        gap: 40px;
    }

    .slider__slide-container {
        gap: 47px;
    }

    .slider__slide-container:last-of-type {
        gap: 40px;
    }

    .slider__slide-image {
        width: 130px;
        aspect-ratio: 130/200;
        object-fit: cover;
    }

    .slider__navigation {
        position: static;
        width: 100%;
        margin: 40px 0 0;
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
    }

    .slider__nav-btn {
        height: fit-content;
        transform: scale(1);
    }

    .slider__nav-btn_prev {
        transform: scale(1) rotate(180deg);
    }
}