* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    font-size: 12px;
}

body {
    background-color: #FFFFFF;
    overflow-y: hidden;
    font-family: "Raleway";
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Forum";
    font-weight: 400;
    width: fit-content;
    line-height: 1.5;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.07em
}

h1 {
    font-size: 6.67rem;
    text-align: start;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 5.33rem;
    text-align: center;
}

p,
span {
    color: #000000;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.07em
}

a {
    color: #000000;
    transition: 0.3s;
    letter-spacing: 0.07em
}

@media (any-hover: hover) {
    a:hover {
        color: #000;
        text-decoration: none;
    }
}

a[href*="tel:"] {
    white-space: nowrap;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    margin-bottom: 11.67rem;
    position: relative;
}

input {
    border: 3px solid #000;
    font-size: 2rem;
    line-height: 1.5;
    color: #000;
}

input::placeholder {
    font-size: 2rem;
    line-height: 1.5;
}

input:focus {
    border-color: #1596C1;
}

input:focus-visible {
    outline: none;
    text-indent: 5px;
}

.input-error {
    border-color: red;
    color: red;
}

.error-message {
  color: red;
  font-size: 1.5rem;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.text {
    color: #000000;
    font-size: 2rem;
    line-height: 1.5;
}

.text_l {
    font-size: 3.5rem;
}

.text_m {
    font-size: 2.5rem;
}

.text_s {
    font-size: 1.5rem;
}

.text_center {
    text-align: center;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    transition: 0.3s;
    color: #000000;
    background-color: transparent;
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 5px 15px;
    text-transform: uppercase;
    border: 3px solid #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Forum";
    width: fit-content;
}

@media (any-hover: hover) {
    .btn:hover {
        text-decoration: none;
        border-color: #1596C1;
        color: #FFF;
        background-color: #1596C1;
    }
}

.btn:disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: #999;
}

.link {
    color: #fff;
    text-transform: none;
    transition: 0.3s;
}

@media (any-hover: hover) {
    .link:hover {
        color: #000;
        border-color: #000;
    }
}

.link_accent {
    color: #000;
}

@media (any-hover: hover) {
    .link_accent:hover {
        color: #1596C1;
    }
}

.color-accent {
    color: #FFFFFF;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-open.menu-overlay {
  opacity: 1;
  visibility: visible;
}

/* -------------------------------------------
 цветной скрол
 Скроллбары в Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}

/* дорожка */
*::-webkit-scrollbar-track {
    background: rgba(0 0 0);
}

/* плашка */
*::-webkit-scrollbar-thumb {
    background-color: rgba(21, 150, 193, 0.8);
    border-radius: 3px;
    border: 2px solid transparent;
}


/* Скроллбары в Firefox  */
*,
html * {
    scrollbar-width: thin;
    scrollbar-color: rgba(21, 150, 193, 0.8) #fff;
}